a {
    text-decoration: none;
    color: inherit;
}
.pure-u-1-2 {
    display: inline-block;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
p {
    margin: 0.2em 0;
}
body {
    background-color: #f6f6f6;
    font-family: "Century Gothic";

}
h1,h2,h3 {
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
h4,h5,h6 {
    font-weight: normal;
}
/*通用模块*/
.min960 {
    min-width: 960px;
}
.flex-align {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}
.link-tag {
    padding: 5px 20px;
    color: white;
    background-color: black;
    border-bottom: solid 3px #ffea00;
}
/*头部导航*/
.menu {
    padding: 1em;
    text-align: center;
}
.menu ul {
    padding-top: 0.5em;
    padding-right: 2em;
}
.menu li {
    display: inline-block;
    list-style-type: none;
    padding: 0.7em 0.2em;
    margin-right: 1.3em;
    height: 2em;
    line-height: 2em;
    text-transform: uppercase;
}
.menu li:hover {
    background-color: #ffea00;
}

/*首页轮播图*/
.home-pic-roll {
    background: url("../img/slider_bg.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}
.home-roll-heading {
    position: relative;
    padding: 6em 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
}
.home-roll-heading h1 {
    margin: 0 0 10px;
    background-color: #ffea00;
    font-size: 3em;
}
.home-roll-heading p {
    margin: 3px 0 0 0;
    padding: 0 0.2em;
    font-size: 1.2em;
    background-color: #444;
    color: white;
}
.slogan {
    position: relative;
}
.slogan > span {
    display: flex;
    width: 717px;
    height: 600px;
    background: url("../img/index/img.png") no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    top: 1em;
    right: 3em;
}
.slogan a {
    position: absolute;
    bottom: 20%;
    left: 20%;
    z-index: 200;
}

/*show*/
.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 100px;
}
.show h3 {
    margin: 10px;
    font-size: 1.5em;
    font-weight: normal;
}
.show > p {
    margin-bottom: 40px;
}
.show-box {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.show-item {
    width: 200px;
    background-color: #ffea00;
}
.show-item > p {
    margin: 0;
    padding: 10px 15px;
    background-color: #444;
    color: white;
    text-align: center;
    font-size: 0.7em;
    cursor: default;
}
.show-item > p:hover {
    text-transform: uppercase;
}
.show-item .pure-img {
    text-align: center;
}
.show-item i {
    font-size: 90px;
    padding: 30px 0 14px;
    color: #444444;
}
/*our work*/
.section-box {
    border-top: solid #666666 2px;
    position: relative;
    padding: 30px 30px 100px;
}

.divide-tag {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: -14px;
    width: 140px;
    padding: 2px;
    background-color: #444444;
    color: #ffea00;
    border: solid 25px #f6f6f6;
    border-top: none;
    border-bottom: none;
    text-align: center;
    text-transform: uppercase;
}
.section-box > h4 {
    text-align: center;
}
.home-works-gallery {
    height: 650px;
}
.home-works-gallery img {
    box-sizing: border-box;
    padding: 3px;
}
/*our clients*/
.home-clients-links > div {
    justify-content: space-around;
    padding-top: 20px;
}
.home-clients-logo {
    width: 140px;
    height: 65px;
    background: url("../img/index/Clients img.png");
    background-size: cover;
    color: transparent;
}
.home-clients-logo.logo2 {
    background-position: -180px 0;
}
.home-clients-logo.logo3 {
    background-position: -360px 0;
}
.home-clients-logo.logo4 {
    background-position: -540px 0;
}
.home-clients-logo.logo5 {
    background-position: -720px 0;
}
.home-clients-logo.logo6 {
    background-position: -900px 0;
}
.home-clients-logo.logo7 {
    background-position: -1080px 0;
}
.home-clients-logo.logo8 {
    background-position: -1260px 0;
}

/*footer*/
.footer-board {
    background-color: #444444;
    color: white;
    padding: 1em 4em;
    align-items: stretch;
}
.footer-board p {
    font-size: 0.8em;
}
.footer-board-box {
    padding: 0.5em 1.5em 1.5em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer-board-box > .link-tag {
    display: inline-block;
    margin: 2em 0 3em;
}
.footer-board-box > h5 {
    font-size: 1.3em;
    margin: 0.5em auto;
    text-transform: capitalize;
}
.footer-stream {
    padding-bottom: 0;
}
.footer-ul {
    list-style-type: none;
    padding: 0;
}
.footer-ul > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0.5em;
}
.footer-ul p a {
    color: #ffea00;
}
.footer-ul p {
    text-transform: capitalize;
}
.footer-social-logo i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: black;
    padding: 3px;
    text-align: center;
    margin-right: 0.3em;
}
.footer-nav {
    height: 40px;
    background-color: black;
    color: white;
    line-height: 40px;
    padding: 0 80px;
    font-size: 0.5em;
}
.footer-nav ul {
    float: right;
    height: 40px;
    line-height: 40px;
    margin: 0;
}
.footer-nav ul > li {
    display: inline;
    margin-right: 1.5em;
    text-transform: uppercase;
    font-size: 1.5em;
    opacity: 0.7;
}
.footer-nav ul > li:hover {
    opacity: 1;
}




